@using UserManager.Entities;
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a href="/Books/Edit"> + ADD NEW Book</a>
<td>

    <h3> My Books </h3>
    <table>
        <tr>
            <td> Title </td>
            <td> Author </td>
            
        </tr>

        @foreach (Book item in (List<Book>)ViewData["items"])
        {
            <tr>
                <td>@item.Title </td>
                <td>@item.Author</td>               
                <td>
                    <a href="/Books/Edit?id=@item.Id" style="margin:0 10px"> Edit </a>
                    <a href="/Books/Delete?id=@item.Id" style="margin:0 10px"> Delete </a>
                    <a href="/Prices/Index?id=@item.Id" style="margin:0 10px"> Price </a>
                </td>
            </tr>
        }

    </table>
</td>

