@using UserManager.Entities;
@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a href="/User/Edit"> + ADD NEW User</a>
<td>
    
    <h3> My Users </h3>
    <table>
        <tr>
            <td> Username </td>
            <td> First Name </td>
            <td> Last Name </td>
            <td> ***||*** </td>
        </tr>

        @foreach (User item in (List<User>)ViewData["items"])
        { 
            <tr>
                <td>@item.Username </td>
                <td>@item.Password</td>
                <td>@item.FirstName </td>
                <td>@item.LastName </td>
                <td>
                    <a href="/User/Edit?id=@item.Id" style="margin:0 10px"> Edit </a>
                    <a href="/User/Delete?id=@item.Id" style="margin:0 10px"> Delete </a>
                </td>
            </tr>
        }

    </table>
</td>

